/* line 1, ../sass/vendor/_html5doctorreset.min.scss */
html, body, div, span, object, iframe, h1, h2, .button, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 2, ../sass/vendor/_html5doctorreset.min.scss */
body {
  line-height: 1;
}

/* line 3, ../sass/vendor/_html5doctorreset.min.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 4, ../sass/vendor/_html5doctorreset.min.scss */
nav ul {
  list-style: none;
}

/* line 5, ../sass/vendor/_html5doctorreset.min.scss */
blockquote, q {
  quotes: none;
}

/* line 6, ../sass/vendor/_html5doctorreset.min.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 7, ../sass/vendor/_html5doctorreset.min.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 8, ../sass/vendor/_html5doctorreset.min.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 9, ../sass/vendor/_html5doctorreset.min.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 10, ../sass/vendor/_html5doctorreset.min.scss */
del {
  text-decoration: line-through;
}

/* line 11, ../sass/vendor/_html5doctorreset.min.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 12, ../sass/vendor/_html5doctorreset.min.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 13, ../sass/vendor/_html5doctorreset.min.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 14, ../sass/vendor/_html5doctorreset.min.scss */
input, select {
  vertical-align: middle;
}

/* susy grid settings */
/* compass vertical rhythm */
/* line 105, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 0.28571em;
}

/* line 30, ../sass/partials/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 35, ../sass/partials/_grid.scss */
html {
  line-height: 1.14286em;
}

/* line 39, ../sass/partials/_grid.scss */
body {
  margin: 0 auto;
}

/* line 43, ../sass/partials/_grid.scss */
.container {
  width: 100%;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 2;
}
@media (min-width: 569px) {
  /* line 43, ../sass/partials/_grid.scss */
  .container {
    max-width: 76.426em;
    padding-left: 3.714em;
    padding-right: 3.714em;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
  }
  /* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* overlay code */
/* line 64, ../sass/partials/_grid.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.25;
  height: 100%;
  display: none;
}

/* line 75, ../sass/partials/_grid.scss */
.col {
  height: 100%;
}
@media (min-width: 569px) {
  /* line 75, ../sass/partials/_grid.scss */
  .col {
    width: 4.67249%;
    float: left;
    margin-right: 1.68267%;
  }
}
/* line 83, ../sass/partials/_grid.scss */
.overlay .col {
  outline: 1px solid #00f0e9;
}
@media (min-width: 569px) {
  /* line 87, ../sass/partials/_grid.scss */
  .col.four {
    width: 23.73799%;
    float: left;
    margin-right: 1.68267%;
  }
}

@media (min-width: 569px) {
  /* line 95, ../sass/partials/_grid.scss */
  .col:nth-child(16) {
    width: 4.67249%;
    float: right;
    margin-right: 0;
  }
}

/* line 101, ../sass/partials/_grid.scss */
.overlay .horizontal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/* line 107, ../sass/partials/_grid.scss */
.overlay .horizontal .row {
  content: '';
  border-bottom-width: 0.07143em;
  border-bottom-style: solid;
  padding-bottom: 4.78571em;
  border-color: #00f0e9;
  width: 100%;
}

/* line 117, ../sass/partials/_grid.scss */
.toggle-grid,
.toggle-lang {
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 999;
}

/* line 124, ../sass/partials/_grid.scss */
.toggle-lang {
  bottom: 3em;
}

@font-face {
  font-family: "DIN Next W02 Light";
  src: url("../fonts/694409/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix");
  src: url("../fonts/694409/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix") format("eot"), url("../fonts/694409/07d62b21-8d7a-4c36-be86-d32ab1089972.woff") format("woff"), url("../fonts/694409/c0050890-bbed-44b9-94df-2611d72dbb06.ttf") format("truetype"), url("../fonts/694409/9f774d17-c03a-418e-a375-34f3beecbc7a.svg#9f774d17-c03a-418e-a375-34f3beecbc7a") format("svg");
}

@font-face {
  font-family: "DIN Next W02 Bold";
  src: url("../fonts/694427/50d13d4e-96c6-4412-a8fa-baa4814c5332.eot?#iefix");
  src: url("../fonts/694427/50d13d4e-96c6-4412-a8fa-baa4814c5332.eot?#iefix") format("eot"), url("../fonts/694427/109143ca-57fb-459c-9814-3a68f0245ac3.woff") format("woff"), url("../fonts/694427/c9fa50e2-c243-451a-b91b-ee74f341d7a8.ttf") format("truetype"), url("../fonts/694427/1201bd6f-15f5-4b51-9c6f-c5c4b35d31f5.svg#1201bd6f-15f5-4b51-9c6f-c5c4b35d31f5") format("svg");
}

@font-face {
  font-family: "DIN Next LT W23 Light";
  src: url("../fonts/893517/77774782-4fa3-441a-bd91-702d88ef6e2d.eot?#iefix");
  src: url("../fonts/893517/77774782-4fa3-441a-bd91-702d88ef6e2d.eot?#iefix") format("eot"), url("../fonts/893517/0ab2eaf2-c728-4d1b-ae19-53aa13d5a213.woff") format("woff"), url("../fonts/893517/f33821f7-e0bf-48e9-b084-b195190e3870.ttf") format("truetype"), url("../fonts/893517/6b80f501-2781-47be-982c-4f11934d6716.svg#6b80f501-2781-47be-982c-4f11934d6716") format("svg");
}

@font-face {
  font-family: "DIN Next LT W23 Bold";
  src: url("../fonts/893520/f4bce1cb-f2a5-4bcb-af4c-79f63da8c8e0.eot?#iefix");
  src: url("../fonts/893520/f4bce1cb-f2a5-4bcb-af4c-79f63da8c8e0.eot?#iefix") format("eot"), url("../fonts/893520/708871f8-768c-4f13-9371-1684fb16711f.woff") format("woff"), url("../fonts/893520/bb726818-fa8e-4f9a-9305-c3823a880f46.ttf") format("truetype"), url("../fonts/893520/93953467-ca69-4f0e-aad5-a6e7ba360f0d.svg#93953467-ca69-4f0e-aad5-a6e7ba360f0d") format("svg");
}

/* line 51, ../sass/partials/_typography.scss */
body {
  font-size: 1em;
  line-height: 1.42857em;
  line-height: 1.42857em;
  font-family: "DIN Next W02 Light", Tahoma, sans-serif;
  font-size-adjust: 0.5;
  font-weight: 400;
  font-style: normal;
}

/* line 68, ../sass/partials/_typography.scss */
.rtl {
  font-family: "DIN Next LT W23 Light", Tahoma, sans-serif;
  font-size-adjust: 0.5;
  font-weight: 400;
  font-style: normal;
}

/* FOR REFERENCE */
/* line 77, ../sass/partials/_typography.scss */
h1 {
  width: 61.2164%;
  float: left;
  margin-right: 3.42294%;
  display: inline;
  /* change the font size, but make sure it changes to ems */
  font-size: 2.14286em;
  line-height: 1.2em;
  /* change the line height (leading). but make sure it changes relative to the base line height,
  INSTEAD of the new font size (30px) */
  line-height: 1.06667em;
  /* add a bottom margin on it, but make sure it changes relative to the base line height,
  INSTEAD of the new font size (30px) */
  margin-bottom: 2.53333em;
  font-family: "DIN Next W02 Bold", Tahoma, sans-serif;
  font-size-adjust: 0.5;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  float: none;
  display: inline-block;
}
@media (min-width: 569px) {
  /* line 77, ../sass/partials/_typography.scss */
  h1 {
    font-size: 3.57143em;
    line-height: 1.12em;
    line-height: 0.96em;
    margin-bottom: 1.52em;
  }
}
/* line 102, ../sass/partials/_typography.scss */
.rtl h1 {
  font-family: "DIN Next LT W23 Bold", Tahoma, sans-serif;
  font-size-adjust: 0.5;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin-right: 0;
}

/* line 115, ../sass/partials/_typography.scss */
h2, .button,
.site-title,
.language-switcher,
.black-square p {
  font-size: 1.14286em;
  line-height: 1.25em;
  line-height: 1.25em;
  font-family: "DIN Next W02 Bold", Tahoma, sans-serif;
  font-size-adjust: 0.5;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1em;
  text-transform: uppercase;
}

/* line 123, ../sass/partials/_typography.scss */
p {
  margin-bottom: 1.875em;
}

/* line 127, ../sass/partials/_typography.scss */
h3 {
  font-family: "Lucida Grande", sans-serif;
  font-weight: bold;
}

/* line 132, ../sass/partials/_typography.scss */
.subheading {
  font-size: 2.28571em;
  line-height: 1.125em;
  line-height: 1em;
  margin-bottom: 0.9375em;
  font-family: "DIN Next W02 Light", Tahoma, sans-serif;
  font-size-adjust: 0.5;
  font-weight: 400;
  font-style: normal;
  clear: left;
}

/* line 141, ../sass/partials/_typography.scss */
b,
strong {
  font-family: "DIN Next W02 Bold", Tahoma, sans-serif;
  font-size-adjust: 0.5;
  font-weight: 400;
  font-style: normal;
}
/* line 144, ../sass/partials/_typography.scss */
.rtl b, .rtl
strong {
  font-family: "DIN Next LT W23 Bold", Tahoma, sans-serif;
  font-size-adjust: 0.5;
  font-weight: 400;
  font-style: normal;
}

/* line 149, ../sass/partials/_typography.scss */
li {
  list-style-type: none;
  margin-bottom: 10px;
}

/* line 154, ../sass/partials/_typography.scss */
dl {
  width: 100%;
  margin-top: 2em;
  display: inline-block;
}
/* line 159, ../sass/partials/_typography.scss */
dl dt, dl dd {
  float: left;
  display: inline;
  width: 70%;
  margin-bottom: 1em;
}
/* line 166, ../sass/partials/_typography.scss */
dl dt {
  clear: left;
  width: 30%;
}

/* line 173, ../sass/partials/_typography.scss */
.site-nav a {
  font-family: "DIN Next W02 Light", Tahoma, sans-serif;
  font-size-adjust: 0.5;
  font-weight: 400;
  font-style: normal;
  font-size: 1.71429em;
  line-height: 1.16667em;
  text-transform: none;
}

/** arabic typography switching - not for production **/
/* line 182, ../sass/partials/_typography.scss */
.body-content.rtl {
  display: none;
}

/* line 5, ../sass/partials/_links.scss */
a {
  text-decoration: none;
  background-color: #faff1e;
  padding: 0;
  color: black;
  padding-bottom: 1px;
}
/* line 13, ../sass/partials/_links.scss */
a.hover, a:hover {
  background-color: transparent;
  border-bottom: 1px solid black;
  padding-bottom: 0;
}

a.logo {
  background-color: transparent;
}
a.logo:hover {
  border-bottom: none;
}
/* line 20, ../sass/partials/_links.scss */
h2 a, .button a, p a {
  background-color: transparent;
  border-bottom: 1px solid #ed3c8a;
}

/* line 29, ../sass/partials/_links.scss */
.button {
  text-transform: uppercase;
  display: inline-block;
  border: 0.35em solid #ed3c8a;
  padding: 0.5em 2em;
  position: relative;
  top: -0.9em;
}
/* line 39, ../sass/partials/_links.scss */
.button.hover, .button:hover {
  border: 0.35em solid black;
}

/* line 47, ../sass/partials/_links.scss */
.color-bg {
  background-color: #ffc142;
  text-align: center;
  padding: 1em 0em;
}
/* line 52, ../sass/partials/_links.scss */
.color-bg a {
  background-color: #FFFFFF;
}
/* line 55, ../sass/partials/_links.scss */
.color-bg a.button {
  background-color: transparent;
  border: 0.35em solid #FFFFFF;
  margin-top: 1.5em;
}
/* line 62, ../sass/partials/_links.scss */
.color-bg a.hover, .color-bg a:hover {
  background-color: transparent;
  border-bottom: 1px solid black;
}
/* line 68, ../sass/partials/_links.scss */
.color-bg a.button.hover, .color-bg a.button:hover {
  border: 0.35em solid black;
}
/* line 74, ../sass/partials/_links.scss */
.color-bg p {
  margin-bottom: 0;
}
/* line 77, ../sass/partials/_links.scss */
.color-bg p a {
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
}

/* line 1, ../sass/partials/_header.scss */
.site-header {
  background-color: #faff1e;
}
/* line 5, ../sass/partials/_header.scss */
.site-header .header-span {
  padding: 1em 0 0.5em 0;
  /*14px 0 7px 0*/
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 100%;
}
/* line 13, ../sass/partials/_header.scss */
.site-header p {
  margin-bottom: 0.5em;
  position: relative;
}
/* line 17, ../sass/partials/_header.scss */
.site-header p a {
  border-bottom: none;
}
/* line 22, ../sass/partials/_header.scss */
.site-header .site-title {
  float: left;
  top: 0.2em;
}
@media (min-width: 569px) {
  /* line 22, ../sass/partials/_header.scss */
  .site-header .site-title {
    left: -2.214em;
  }
}
/* line 31, ../sass/partials/_header.scss */
.site-header .language-switcher {
  float: right;
  position: relative;
  z-index: 10;
}
@media (min-width: 569px) {
  /* line 31, ../sass/partials/_header.scss */
  .site-header .language-switcher {
    right: -2.214em;
  }
}
/* line 40, ../sass/partials/_header.scss */
.site-header .language-switcher a:hover {
  border-bottom: 1px solid #000000;
}
/* line 45, ../sass/partials/_header.scss */
.site-header .main-header {
  width: 100%;
  display: inline-block;
  padding: 0 0 2em 0;
  text-align: center;
}
@media (min-width: 569px) {
  /* line 45, ../sass/partials/_header.scss */
  .site-header .main-header {
    text-align: left;
  }
}
/* line 55, ../sass/partials/_header.scss */
.site-header .main-header .logo {
  background-color: transparent;
  display: block;
  position: relative;
  top: -1em;
}
@media (min-width: 569px) {
  /* line 55, ../sass/partials/_header.scss */
  .site-header .main-header .logo {
    padding-left: 2em;
    float: left;
  }
}
/* line 66, ../sass/partials/_header.scss */
.site-header .main-header .logo:hover {
  border-bottom: none;
}
/* line 72, ../sass/partials/_header.scss */
.site-header .main-header .site-nav {
  margin-top: 1.3em;
  clear: left;
  width: 100%;
}
@media (min-width: 569px) {
  /* line 72, ../sass/partials/_header.scss */
  .site-header .main-header .site-nav {
    width: 17.38283%;
    float: left;
    margin-right: 1.68267%;
    margin-left: 50.84134%;
    float: none;
    clear: none;
    display: block;
  }
}

/* line 93, ../sass/partials/_header.scss */
.js .site-header {
  min-height: 3.7em;
}
/* line 97, ../sass/partials/_header.scss */
.js .header-span.nav-container {
  padding: 0;
  display: block;
  margin-top: -30em;
  z-index: 1;
  -webkit-transition: margin-top 0.3s linear;
  -moz-transition: margin-top 0.3s linear;
  transition: margin-top 0.3s linear;
}
/* line 105, ../sass/partials/_header.scss */
.js .open .header-span.nav-container {
  margin-top: 0;
}
/* line 109, ../sass/partials/_header.scss */
.js .site-title {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
/* line 114, ../sass/partials/_header.scss */
.js .open .site-title {
  opacity: 0;
}

/* line 1, ../sass/partials/_layout.scss */
img {
  max-width: 100%;
}

/* line 5, ../sass/partials/_layout.scss */
.body-content {
  margin-top: 3em;
  width: 100%;
  float: left;
  margin-right: 1.68267%;
  display: inline;
}

/* line 10, ../sass/partials/_layout.scss */
.full-width {
  width: 100%;
  float: left;
  margin-right: 1.68267%;
  display: inline;
  margin-bottom: 7em;
  clear: left;
}

/* line 16, ../sass/partials/_layout.scss */
.text-col {
  width: 30.09316%;
  float: left;
  margin-right: 1.68267%;
  display: inline;
}

/* line 20, ../sass/partials/_layout.scss */
.text-content {
  margin-top: 95px;
}
@media (min-width: 569px) {
  /* line 20, ../sass/partials/_layout.scss */
  .text-content {
    width: 49.15866%;
    float: left;
    margin-right: 1.68267%;
    margin-left: 25.42067%;
    float: none;
  }
  /* line 30, ../sass/partials/_layout.scss */
  .text-content.columns {
    width: 74.57933%;
    float: left;
    margin-right: 1.68267%;
    margin-left: 0%;
    float: none;
  }
}

@media (min-width: 569px) {
  /* line 43, ../sass/partials/_layout.scss */
  .left {
    width: 23.73799%;
    float: left;
    margin-right: 1.68267%;
    margin-left: 19.0655%;
  }

  /* line 50, ../sass/partials/_layout.scss */
  .right {
    width: 30.09316%;
    float: right;
    margin-right: 0;
    margin-right: 0%;
  }
}
/* line 59, ../sass/partials/_layout.scss */
.text {
  clear: left;
}

@media (min-width: 569px) {
  /* line 63, ../sass/partials/_layout.scss */
  .columns {
    -webkit-columns: 3 1em;
    -moz-columns: 3 1em;
    columns: 3 1em;
  }
  /* line 70, ../sass/partials/_layout.scss */
  .columns h2, .columns .button {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
  }
}

/* line 78, ../sass/partials/_layout.scss */
.hangline {
  border-top-width: 0.57143em;
  border-top-style: solid;
  padding-top: 0.57143em;
}
/* line 81, ../sass/partials/_layout.scss */
.hangline.body-content {
  padding-top: 3em;
}

/* header styles */
.left-header,
.right-header {
  float: left;
  width: 35%;
}

.right-header {
  width: 65%;
}

.right-header .block {
  float: left;
  width: 50%;
}