$from-direction: right;
$omega-float: opposite-position($from-direction);

.view-display-id-all_projects_and_areas, .view-display-id-experience_map_block {

	.views-exposed-widgets {


		.form-radios {

			.form-item {
				float: right;
				margin-left: $gutter-width;
				margin-right: 0;
			}

			label {
				float: right;
				@include din-arabic-bold;
				text-transform: none;
			}

		}

	}

	.view-filters {

		form {
			float: right;
		}

		.reset {
			float: right;

			@include at-breakpoint($bp-desktop) {
				margin-left: 0;
			}
		}

		.views-widget-filter-field_area_of_work_target_id_entityreference_filter {
			
			@include at-breakpoint($bp-small-desktop) {
				@include span-columns(7, 16);
				margin-right: 0;
			}

			@include at-breakpoint($bp-desktop) {
				@include span-columns(8, 16);
			}
		}

		.views-widget-filter-tid_i18n {
			clear: none;

			@include at-breakpoint($bp-small-desktop) {
				float: left;
				margin-left: 0;
				padding-left: 0;
			}

			label {
				float: right;
			}

			.views-widget {
				float: right;
				margin-right: 0em;
				margin-left: 0;
			}

		}

		.views-submit-button {
			float: right;
			margin-left: 1em;

			@include at-breakpoint($bp-small-desktop) {
				float: left;
			}
		}
	}

	// actual item styling

	.views-row .node {
		float: right;

		&.new-project {

			.new-flag {
				right: 41%;
				left: auto;
				text-transform: none;
				@include din-arabic-bold;
			}
		}
	}

	.experience-view-header {
		float: left;

		@include din-arabic-bold;

		a {
			@include din-arabic-light;
		}

	}

}

.project-experience-teaser,
.area-of-work-experience {

	&.highlight .hover-content {
		left: 0;
		right: 0;
	}

}

.area-of-work-experience {

	.hover-content {
		left: 33%;
		right: 0;
		@include din-arabic-bold;

		.csstransitions & {
			@include transition (left 0.25s, right 0.25s);
			right: -66%;
			left: 100%;
			display: block;
		}
	}

	.csstransitions.no-touch &:hover .hover-content,
	.hovered & .hover-content {
		left: 33%;
		right: 0%;
	}


	&.museums--galleries {

		.center-text {
			text-align: right;

			h4 {
				float: left;
			}
		}
	}
}

// js styles 
.js {

	.view-display-id-all_projects_and_areas, .view-display-id-experience_map_block {
	
		.view-filters {

			.views-widget-filter-field_area_of_work_target_id_entityreference_filter {
				float: right;
			}

			.views-widget-filter-tid_i18n {

				float: right;
				clear: none;
				padding-right: 0;
				margin-left: 1em;

				.views-widget {
					float: right;
				}

			}

			.bef-select-as-radios {

				.form-item:last-child {
					margin-right: 0;
					margin-left: 1em;
				}

			}
			
		}

	}

	.experience-view-header {
		left: auto;
		right: 0;
	}
	
}

// map on touch device specific styles
.js.touch {

	.view-display-id-experience_map_block {

		.map-view-header {
			right: 20px;
			left: auto;
		}

	}

}

$from-direction: left;
$omega-float: opposite-position($from-direction);
