.slider-controls {

	span {

		background-position: top right;

		.featured-news & {
			right: 0;
			left: auto;

			@include at-breakpoint($bp-small-desktop) {
				right: -16%;
			}

			@include at-breakpoint($bp-desktop) {
				right: -16%;
			}
		}

		&:hover {
			background-position: 100% 100%;
		}

		&.cbp-fwnext {
			right: auto;
			left: 15px;

			@include at-breakpoint($bp-small-desktop) {
				left: 50px;
				right: auto;
			}

			background-position: 0 0;

			&:hover {
				background-position: 0 100%;				
			}

			.featured-news & {
				left: 0;
				right: auto;

				@include at-breakpoint($bp-small-desktop) {
					left: -16%;
				}
			}
		}

	}

}

.image-gallery {

	li {

		.js & {
			float: right;
		}

		.js & .gallery-caption {
			text-align: left;
			float: left;

			@include at-breakpoint($bp-small-desktop) {
				text-align: right;
				@include span-columns(8, 16);
			}

		}

		p {
			text-align: left;
		}
	}

	.gallery-count {

		right: 0;
		left: auto;

		@include at-breakpoint($bp-small-desktop) {
			right: $grid-padding;
			left: auto;
		}
		
		@include span-columns(3 omega, 16);


		span {
			text-transform: none;
			float: right;
			margin-left: 0.2em;
		}

	}


}



/* default cbp fwslider styles */
.cbp-fwslider ul li {
	float: right;
}
