.view-creative-resources {

	.view-header {

		border-bottom: 2px solid #000000;
		display: inline-block;
		width: 100%;
		margin-bottom: 2.333em;

		.header-wrapper {
			width: 100%;

			@include at-breakpoint($bp-860) {
				width: 70%;
				float: left;
			}

			h2 {
				float: left;
				margin-bottom: 0;
			}

			p {
				float: left;
				clear: left;
				margin-bottom: 0;
				position: relative;
				top: 0.6em;

				@include at-breakpoint($bp-860) {
					float: right;
					clear: none;
				}
			}

		}

		.view-filters {

			width: 100%;
			clear: left;
			float: left;
			position: relative;
			margin-top: 1.5em;

			@include at-breakpoint($bp-tablet) {
				width: 40%;
			}

			@include at-breakpoint($bp-860) {
				width: 30%;
				float: right;
				clear: none;
				margin-top: 0;
			}

			.views-exposed-widget {
				padding: 0;
				float: right;
				width: 100%;

				@include at-breakpoint($bp-860) {
					width: 95%;
				}

				.select-target {
					width: 100%;
				}
			}

			.js & .views-submit-button {
				display: none;
			}

		}


	}

}

.view-creative-resources {

	.view-content {

		.views-table {
			width: 100%;
		}

		th {
			text-align: left;
			text-transform: uppercase;
			@include din-bold;
			padding-top: 0;
		}

		tr {
			
			display: inline-block;
			width: 100%;
		}

		.odd {
			background-color: #FAFAFA;
		}

		thead tr th {
			display: none;

			@include at-breakpoint($bp-tablet) {
				display: inline-block;
				padding: 0 0 1em 0;
			}
		}

		td {
			width: 100%;
			clear: left;
			float: left;
			margin-bottom: 1.5em;
			padding: 0 1.278em 1em 1.278em;

			@include at-breakpoint($bp-tablet) {
				clear: none;
				margin-bottom: 0;
				padding-top: 2.556em;
				padding-bottom: 2.556em;
			}
		}

		.views-field-title {
			width: 100%;
			padding-top: 2.556em;

			@include at-breakpoint($bp-tablet) {
				@include span-columns(6, 16);
			}
		}

		th.views-field-title {
			padding-top: 0;
			padding-left: 1.278em;
		}


		.views-field-address {
			width: 100%;
			

			@include at-breakpoint($bp-tablet) {
				@include span-columns(4, 16);
				padding-left: 0;
				padding-right: 0;
			}

			.map-link,
			.country-name {
				display: none;
			}
		}

		.views-field-field-resource-opening-times {
			width: 100%;
			

			@include at-breakpoint($bp-tablet) {
				@include span-columns(3, 16);
				padding-left: 0;
				padding-right: 0;
			}
		}

		.views-field-field-resource-tags {
			width: 100%;
			

			@include at-breakpoint($bp-tablet) {
				@include span-columns(3 omega, 16);
			}


			ul {
				margin-bottom: 0;

				li {
					margin-left: 0;

					&:before {
						display: none;
					}

				}

			}
		}

	}

}

.field-name-field-featured-resource {

	.filter_image {
		max-width: 322px;
		float: left;
		margin-bottom: 1.5em;

		@include at-breakpoint($bp-small-desktop) {
			@include span-columns(5, 16);
			max-width: none;
			margin-bottom: 0;
		}
	}

	.teaser-text {
		float: left;
		width: 100%;
		margin-bottom: 1.5em;

		@include at-breakpoint($bp-small-desktop) {
			@include span-columns(6, 16);
			margin-bottom: 0;
		}
	}

	.featured-quote {

		background-color: #FFFFFF;
		float: left;
		width: 100%;
		padding: 1em;

		@include at-breakpoint($bp-small-desktop) {
			@include span-columns(4 omega, 16);
		}

		.field-name-field-element-user-quote {
			margin-bottom: 0;
			@include endash-after;			
		}

		@include left-arrow(#FFFFFF, 2.222em, 2em);
	}
}

.js.touch {

	.creative-map-view {
		width: 100%;
		padding: 0 20px;
		background-color: #333333;
	}

	.map-container {
		margin-bottom: 0;
	}

}

.gmap-popup {

	.field-name-field-resource-opening-times,
	.field-name-field-resource-description {
		margin-bottom: 1.333em;
	}

}

#qma-forms-resource-question-form textarea {
	height: 9.25em;
}