.drag-container {
  margin-top: 100px;
  @include span-columns(12, 16);
  @include pre(2);
  position: relative;
  margin-bottom: 200px;
  

  height: 500px;
  background-color: #EFEFEF;

  img {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .image {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid black;
    overflow: hidden;
    @include transition (width 0.5s linear, height 0.5s linear);
    
    &:hover {
      cursor: -webkit-grabbing;
    }
    
    a {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      text-align: center;
      font-size: 3em;
      font-weight: bold;
      color: #333333;
      text-decoration: none;
      background-color: transparent;
      margin-bottom: 0;
      width: 10px;
      
    }
    
    
  }
  
  .image.large {
    width: 500px;
    height: 500px;
  }

}