@mixin label-style {
  display: inline-block;
  margin-bottom: 0.5em;
  width: 100%;

  &:after {
    content: ' \2013 '; // endash
  }
}

form {
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button {
    -webkit-appearance: none;
    color: inherit;
    padding: 0;
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;

    &:hover {
      cursor: pointer;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="search"] {
    -webkit-appearance: none;
    color: inherit;
    padding: 0;
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0;
    @include adjust-font-size-to(16px);
  }

  input[type="submit"] {
    @include button-style;

    &.button-link {
      @include link-style;
      font-weight: bold;
      @include din-light;
      margin: 0.781em;
      min-width: 0;
      padding: 0 0 1px;
      text-transform: none;
      width: auto;
    }
  }

  textarea {
    resize: none;
    font-family: inherit;
    @include adjust-font-size-to(16px);
    overflow: auto;
    border: 2px solid #000000;

    &:focus {
      border-color: $pink;
    }
  }

  label {
    @include label-style;

    // No suffix for option labels.
    &.option {
      font-weight: bold;
      padding-left: 2.5em;
      text-transform: uppercase;

      &:after {
        content: '';
      }
    }
  }

  input[type="text"],
  input[type="password"] {
    border: 2px solid #000000;
    padding: 0.5em;
    width: 100%;

    &:focus {
      border-color: $pink;
    }
  }

  input[type="text"].error,
  input[type="password"].error,
  textarea.error {
    border: 2px solid rgb(255, 0 ,0);
  }

  fieldset legend {
    @include label-style;
  }

  /* Set obvious hierarchy in a fieldset */
  fieldset label {
    font-size: 0.833em;
  }

  > .form_wrapper {
    clear: both;
  }

  .form-wrapper {
    @include clearfix;
    width: 100%;
  }

  .form-wrapper + .form-title {
    margin-top: 2.222em
  }

  .form-item {
    @include clearfix;
    clear: both;
    margin-bottom: 1.5em;

    // Avoid double margins for nested .form-items
    .form-item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .description {
    display: inline-block;
    font-size: 0.833em;
    line-height: 1.3;
    width: 100%;
  }

  .form-textarea-wrapper {
    clear: both;
  }

  /* Use auto width for individual checkbox items */
  .form-type-radio,
  .form-type-checkbox {
    > label {
      clear: none;
      width: auto;
    }
  }

  .form-type-checkboxes .form-item {
    margin-bottom: 0.25em;
  }

  .form-radios {
    margin: 0.5em 0
  }

  .form-type-radio,
  .form-type-checkbox {
     label {
      font-size: 0.833em;
    }
  }

  .form-type-radio,
  .form-type-checkbox {
    input {
      margin: 0.5em -2.5em 0.5em 1em;
    }
  }

  .form-type-radios {
   .form-item {
      margin-bottom: 0;
    }
  }

  .field-type-datetime {
    .form-item .form-item {
      clear: none;
      float: left;
      margin-bottom: 1.5em;
      margin-right: 5%;
      width: 30%;

      &:last-child {
        margin-right: 0;
      }
    }

    label {
      &:after {
        content: '';
      }
    }
  }

  .form-type-password,
  .form-type-password-confirm {
    position: relative;

    @include at-breakpoint($bp-small-desktop) {
      .password-strength,
      div.password-confirm {
        margin-top: 0;
        position: absolute;
        right: 0;
        top: -6px;
      }
    }
  }

  .password-suggestions {
    margin-top: 0;

    ul {
      margin: 0.25em 1.5em;

      li {
        list-style-type: disc;
        margin: 0 0 0.25em;
      }
    }
  }

  .login-forgot {
    margin-bottom: 1.5em;
  }

  /* Reset user.css */
  .confirm-parent,
  .password-parent {
    width: auto;
  }
  /* Reset user.css end */

  /* Reset date.css */
  .date-no-float {
    width: 100%;
  }

  .container-inline-date > .form-item {
    margin: 0
  }

  .container-inline-date .date-padding {
    padding: 0
  }
  /* Reset date.css end */

  /* Mollom elements */
  #mollom_captcha_unsupported,
  .mollom-audio-captcha-switch,
  .mollom-audio-catcha-instructions,
  .mollom-image-captcha-instructions {
    font-size: 0.833em;
  }

  .mollom-audio-catcha-instructions {
    margin-bottom: 0.5em;
  }

  .mollom-captcha-container {
    margin-bottom: 1em;

    .mollom-captcha-container {
      margin-bottom: 0;
    }
  }

  .mollom-captcha-content.mollom-image-captcha {
    float: left;
    padding-right: 20px;
  }
  /* Mollom elements end */
}

.block-search {

  .container-inline div {
    @include at-breakpoint($bp-small-desktop) {
      float: left;
    }
  }

  input[type="submit"] {
    text-indent: -9999em;
    background: transparent url('../images/search_icon.png') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
    width: auto;
    display: inline;

    .backgroundsize & {
      background-image: url('../images/search_icon@2x.png');
      background-size: 24px 24px;
    }

    &:hover {
      cursor: pointer;
      background-color: transparent;
      border-bottom: none;
    }

    @include at-breakpoint($bp-small-desktop) {
      float: right;
    }

    &:focus {
      outline: none;
    }
  }

  input[type="text"] {
    border-bottom: 2px solid #000000;
    border-top: none;
    border-right: none;
    border-left: none;
    width: auto;
    background-color: transparent;
    padding: 0.5em;

    min-width: 13em;

    @include at-breakpoint($bp-small-desktop) {
      min-width: 20em;
    }

    &:focus {
      border-color: #000;
      outline: none;
    }

  }

}

.button {
  @include button-style;
}

.label {
  @include label-style;
}

.content-form {

    // form elements found on any content page

    textarea {
      height: 15.65em;
      border: 2px solid #000000;
      padding: 0.5em;
    }

    input[type='text'] {
      background-color: #FFFFFF;
      border: 2px solid #000000;
      padding: 0.7em 0.3em;
      width: 100%;
      margin-bottom: 1.5em;
      margin-top: 0;
    }

    input[type='submit'] {
      margin-top: 1em;
      display: inline-block;
      width: 100%;
    }

}

/** SELECT.JS styles **/

.select-select {
  display: none;
  /* For when we are on a small touch device and want to use native controls */
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
  position: absolute;
  opacity: 0;
}

.select-element, .select-element:after, .select-element:before, .select-element *, .select-element *:after, .select-element *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.select-element {
  position: absolute;
  display: none;
}

.select-element.select-open {
  display: block;
  z-index: 5;
}

.select-theme-default, .select-theme-default *, .select-theme-default *:after, .select-theme-default *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.select.select-theme-default {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.select.select-theme-default .select-content {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: white;
  font-family: inherit;
  color: inherit;
  overflow: auto;
  width: 14em;
  max-height: 18rem;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 27rem), (max-height: 27rem) {
  .select.select-theme-default .select-content {
    max-width: 11.25rem;
    max-height: 11.25rem;
  }
}

.select.select-theme-default .select-options {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}

.select.select-theme-default .select-options .select-option {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  position: relative;
  list-style: none;
  margin: 0;
  line-height: 1.25rem;
  padding: 0.5rem 1em 0.5rem 2.5em;
  display: block;
  cursor: pointer;
  overflow: hidden;
  color: #000000;
  @include din-bold;
  text-transform: uppercase;
}

.select.select-theme-default .select-options .select-option.select-option-selected:before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='-0.5 0 20 15'><rect fill='#000000' stroke='none' transform='rotate(45 4.0033 8.87436)' height='5' width='6.32304' y='6.37436' x='0.84178'></rect><rect fill='#00000' stroke='none' transform='rotate(45 11.1776 7.7066)' width='5' height='16.79756' y='-0.69218' x='8.67764'></rect></svg>");
  position: absolute;
  left: 1em;
  top: 0;
  bottom: 0.2em;
  height: 1em;
  width: 1em;
  margin: auto;
}

.select.select-theme-default .select-options .select-option:hover,
.select.select-theme-default .select-options .select-option.select-option-highlight {
  background: $pink;
  color: #FFFFFF;
}

.select-target.select-theme-default {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  position: relative;
  padding: 0.6667em 3em 0.6667em 1em;
  background: #ffffff;
  border: 2px solid #000000;
  cursor: pointer;
  color: #000000;
  text-transform: uppercase;
  @include din-bold;
  text-decoration: none;
  max-width: 100%;
  width: 14em;
  // overflow: hidden;
  min-height: 2.3em;
  @include adjust-leading-to(5, 18px);

  &:hover {
    border-color: $pink;
    color: black;
  }

  &:focus,
  &.select-target-focused {
    border-color: $pink;
    outline: none;
  }

  &.error {
    border-color: red;
  }

  b {
    position: absolute;
    right: 1em;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1.25rem;
    width: 2em;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      margin: auto;
      right: 0;
      height: 0;
      width: 0;
      border: 0.263em solid transparent;
    }

    &:before {
      top: 0;
      border-bottom-color: inherit;
    }

    &:after {
      bottom: 0;
      border-top-color: inherit;
    }
  }
}
