.messages {

	left: 5%;
	right: 5%;

	@include at-breakpoint($bp-tablet) {
		left: 30%;
		right: 30%;
	}
}

div.messages {
	background-position: 8px 8px;
	background-repeat: no-repeat;
	border: 2px solid #000000;
	margin: 6px 0;
	background-color: #FFFFFF;
	color: #000000;

	.js &:hover {
		cursor: pointer;
	}
}

div.error {
	background: #FFFFFF url(../images/error_message_cross.gif) no-repeat 2% 50%;
	padding-left: 3em;
}

html[dir='rtl'] div.error {
	padding-left: 0;
	padding-right: 3em;
	background: #FFFFFF url(../images/error_message_cross.gif) no-repeat 98% 50%;
	text-align: right;
}

div.error, .error,
div.status, .status,
div.wrarning, .warning {
	color: #000000;
}

div.error, table tr.error,
div.status, table tr.status,
div.warning, table tr.warning {
	background-color: #FFFFFF;
}