// the advanced poll doesn't work without JS so hide it

.poll-container {
	display: none;

	.js & {
		display: block;
	}
}


.node-advpoll {

	#message {
		float: left;
		clear: left;
		background-color: #FFFFFF;
		border: 2px solid black;
		padding: 0.5em;
		position: absolute;
		left: 20%;
		right: 20%;
		color: #000000;
		font-style: normal;

		background: #FFFFFF url(../images/error_message_cross.gif) no-repeat 2% 50%;
		padding-left: 3em;

		&:hover {
			cursor: pointer;
		}

		html[dir='rtl'] & {
			padding-left: 0;
			padding-right: 3em;
			background: #FFFFFF url(../images/error_message_cross.gif) no-repeat 98% 50%;
		}
	}

	.poll-noresult {
		p {
			// display: none;
		}
	}

	.poll-title {
		
		width: 100%;

		@include at-breakpoint($bp-tablet) {
			@include span-columns(6, 16);
		}

	}

	.content {

		width: 100%;
		position: relative;
 
		@include at-breakpoint($bp-tablet) {
		 	@include span-columns(10 omega, 16);
		}

		h3 {
			margin-bottom: 1em;
			background-color: #FFFFFF;
			padding: 1em;
			@include top-left-arrow(#FFFFFF, 0.8em, 0.7em);
		}

	}

	.percent,
	.advpoll-title {
		@include din-bold;
		font-size: 1.25em;
		margin-bottom: 0.35em;
		text-transform: uppercase;
	}

	.advpoll-title {
		float: left;
	}

	.percent {
		float: right;
	}

	.bar {
		background: #FFF;
		border: 0;
		clear: both;
		height: 2.222em;
		margin-bottom: 2.222em;

		.foreground {
			background: $pink;
			height: 100%;
		}
	}

	.voted {
		.bar {
			border: 2px #000 solid;
		}
	}

	/** should be moved to forms.scss if this proves to be standard styling **/

	form {

		.ajax-progress {
			display: none !important;
		}

		.form-item {
			margin-bottom: 0;
		}

		.form-type-radio {
			width: 100%;
			clear: left;
			margin-bottom: 1em;

			@include at-breakpoint($bp-small-desktop) {
		 		@include span-columns(5, 10);
		 		clear: none;
			}

			&:nth-child(2n) {
				@include at-breakpoint($bp-small-desktop) {
		 			@include span-columns(5 omega, 10);
		 			clear: none;
				}	
			}

			.js & label {

				@include button-style;
				background-color: #FFFFFF;
				color: #000000;
				border: 3px solid #000000;

				&:hover {
					background-color: #FFFFFF;
					color: #000000;
					border: 3px solid $pink;
				}

				@include at-breakpoint($bp-tablet) {
					width: 100%;
					min-width: 0;
				}

				&.selected {
					background-color: #000000;
					color: #FFFFFF;
					border: 3px solid #000000;
				}
			}

		}

		input[type='submit'] {
			float: left;
			display: inline-block;
			clear: left;
			margin-top: 1.5em;
			width: 100% !important;
		}

		.js & input[type='radio'] {
			display: none;
		}

	}

}